<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Orders" nopResource="CustomOrder.Orders" controller="Order" action="Index" IconClass="/css/Customizations/Areas/CustomOrder/images/Orders.png"/>
    <siteMapNode SystemName="PartialPayment" nopResource="CustomOrder.PartialPayment" url="/CustomOrder/Order/List?IsPartialOrderScreen=true" controller="" IconClass="/css/Customizations/Areas/CustomOrder/images/part-payment.png"/>
    <siteMapNode SystemName="AdditionalService" nopResource="CustomOrder.AdditionalService" url="/CustomOrder/AdditionalService"  IconClass="/css/Customizations/Areas/CustomOrder/images/additional-service.png"/>
    <siteMapNode SystemName="Customers" nopResource="CustomOrder.Customers" controller="Customer" action="Index" PermissionNames="ManageCustomers" IconClass="/css/Customizations/Areas/CustomOrder/images/customers.png"/>
 </siteMapNode>
</siteMap>

